.carousel {
	display: flex;
	width: 80%;
	margin: 2rem auto;
	justify-content: center;
}
.carousel-inner {
	display: flex;
	justify-content: flex-start;
	width: 80%;
}
.carousel-item.active {
	display: flex;
	justify-content: center;
}
.carousel-inner > div > img {
	width: 50%;
	/* height: 500px; */
	aspect-ratio: 1.6;
	object-fit: cover;
	border-radius: 10px;
}
