.nav-cont {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.navbar-left,
.navbar-right {
	display: flex;
}

@media (max-width: 991px) {
	.nav-cont,
	.navbar-left,
	.navbar-right {
		flex-direction: column;
	}
}
