.navbar {
	background-color: #1c4685;
}

.nav-cont {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.navbar-left,
.navbar-right {
	display: flex;
}

.nav-link {
	font-size: 1.1rem;
	font-weight: 500;
}

@media (max-width: 991px) {
	.nav-cont,
	.navbar-left,
	.navbar-right {
		flex-direction: column;
	}
}
